.header__lang {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 18px 0 6px 0;
  padding: 0;
}
@media screen and (max-width:320px) {
  .header__lang {
   margin: 14px 0 8px 0;
  }
}
