
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 28px 0 56px 0;
  margin: 0 48px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .header {
    margin: 0 24px;
    padding-bottom: 48px;
    max-width: 100%;
  }
}

@media screen and (max-width:320px) {
  .header {
    margin: 0 16px;
    padding-top: 16px;
    padding-bottom: 48px;
    max-width: 100%;
  }
}
