.place__paragraph {
  margin: 0 0 26px 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 27px 0;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px 0;
  }
}

.place__paragraph:last-of-type {
  margin: 0;
}
